@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans !important;
}
:root {
  --toastify-toast-background: #a33434 !important;
  /* --toastify-color-success: #157e45 !important;
  --toastify-icon-color-success: #157e45 !important; */
}
